<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <label>image path:</label>

    <form action="/fileRator" method="POST">
      <input placeholder="Enter some text" name="f_name"/>
      <input type="submit" value="upload">
    </form>
    <p id="values"></p>
  </body>
</html>
<script type="text/javascript" src='/js/fileUploader.js'></script>